* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first {
  margin: 1rem;
  border: 1rem solid deepskyblue;
}

.second {
  margin: 1rem;
  color: deepskyblue;
  text-align: center;
}

.third {
  color: black;
  float: left;
  margin: auto;
}

.fourth {
  margin: 1rem;
  padding: 1rem;
}


.button {
  float: right;
  color: deepskyblue;
  background-color: white;
  margin: 1rem;
  padding: 5px;
}

.button-1 {
  float: left;
  color: deepskyblue;
  background-color: white;
  margin: 1rem;
  padding: 5px;
}

.footer {
  text-align: center;
}

.required::after {
  content: "*";
  color: red;
}

@media (max-width: 450px) {
  h1 {
    font-size: xx-small;
  }

}

.aa {
  text-align: center;
}

.p {

  border: 3px dotted black;
}